# Web Framework
fastapi
uvicorn

# Database
pymongo

# Data Validation
pydantic

# Document Processing
python-pptx
opencv-python
pytesseract
langchain
langchain-community
langchain-ollama

# PDF Processing
pypdf

# Data Types
python-multipart
typing-extensions

# Testing
pytest

# BSON handling for MongoDB
# bson

# Authentication
passlib[bcrypt]
argon2-cffi
bcrypt
python-jose
pyjwt

pydantic[email]
email-validator